/ClassDiagramModule/ClassDiagramModule/nbproject/private/
/ClassDiagramModule/ClassDiagramModule/build/
/ClassDiagramModule/ClassDiagramModule/dist/
/ClassDiagramNB/nbproject/private/
.gradle
.idea
.qodana
build

